<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clip"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".career.CareerMenu"
            android:label="@string/title_activity_career_menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clip.MainActivity" />
        </activity>
        <activity
            android:name=".career.CareerGoal"
            androcom.example.clip.career.CareerMenutivityName=".CareerMenu"
            android:label="@string/title_activity_career_goal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clip.CareerMenu" />
        </activity>
        <activity
            android:name=".career.CareerGoalDetail"
            android:label="@string/title_activity_career_goal_detail"
            android:parentActivityName=".career.CareerGoal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clip.career.CareerGoal" />
        </activity>
        <activity
            android:name=".Entry"
            android:label="@string/title_activity_entry" >
        </activity>
    </application>

</manifest>
